@font-face {
  font-family: "jjang";
  src: url("../font/온글잎\ 짱구.ttf");
}

* {
  font-family: "jjang";
}

div {
  overflow: hidden;
  height: auto;
}

body {
  background-color: black;
  display: flex;
}

.nav-bar {
  flex-direction: column;
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 2vw;

  /* position: fixed;
  top: 0;
  left: 0; */
}
.nav-abc {
  position: fixed;
  text-align: center;
  top: 0;
  left: 10;
}

.nav-abc a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 20px;
}

.container {
  display: block;
  width: 100%;
  margin-right: 10%;
}

header {
  font-size: 2vw;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  border-bottom: 3px solid rgba(190, 190, 190, 0.692);
}

.main-content {
  display: inline;
  align-items: center;
}

.header {
  padding: 20px;
  margin-top: 40px;
  color: white;
  display: flex;
}

.header > div > h1 {
  font-size: 100px;
}

.intro {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.intro-a {
  font-size: 2.5vw;
  margin-top: 50%;
  margin-bottom: -20%;
}

.connection {
  display: flex;
  justify-content: flex-end;
}

.connection > a {
  text-decoration: none;
  margin-right: 5px;
  color: white;
}

#scroll {
  border: 0;
  background-color: black;
  margin-right: 10px;
  padding-bottom: 25px;
}

#scroll > span {
  color: white;
}

section {
  padding: 20px;
  margin: 20px 0;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h3 {
  margin-top: 0;
  color: white;
}

section div {
  margin-bottom: 20px;
}

.my-img {
  width: 100%;
  flex-direction: column;
  display: flex;

  text-align: center;
}

.my-img > img {
  width: 10vw;
}

/* .my-intro {
  width: 100%;
  display: flex;
} */
.my-intro {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1cap dashed rgba(255, 255, 255, 0.116);
}

.my-intro-b {
  width: 70vw;
  padding-left: 30px;
}

.my-intro-a {
  margin: 2%;
  margin-right: 0;
  width: 20vw;
  display: block;
  justify-content: end;
}

.my-intro-b h3 {
  font-size: 3vw;
  margin-bottom: 10px;
}

.my-img img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.a-a {
  text-align: center;
  font-size: 2vw;
}

.b-b {
  font-size: 2vw;
  width: 100%;
}

/*
.a-a > p {
  margin-top: -10px;
}
.b-b {
  margin-top: -50px;
} */
.advantage-a > h3 {
  font-size: 3vw;
}

.advantage-a > h4 {
  font-size: 2vw;
}

.advantage-a > p {
  font-size: 2vw;
}

.sections {
  display: inline- block;
  margin: 30px;
}

.advantage {
  margin: 20px;
  border-bottom: 1cap dashed rgba(255, 255, 255, 0.116);
  padding-left: 30px;
  padding-right: 30px;
}

.advantage-b > h4 {
  font-size: 2vw;
}

.advantage-b > p {
  font-size: 2vw;
}

.advantage-c > h4 {
  font-size: 2vw;
}

.advantage-c > p {
  font-size: 2vw;
}

.weakness {
  padding: 1rem;
}

.disadvantage {
  margin: 20px;

  padding-left: 30px;
  padding-right: 30px;
}

.disadvantage-a > h3 {
  font-size: 3vw;
}

.disadvantage-a > h4 {
  font-size: 2vw;
}

.disadvantage-a > p {
  font-size: 2vw;
}

.disadvantage-b > h4 {
  font-size: 2vw;
}

.disadvantage-b > p {
  font-size: 2vw;
}
