@font-face {
  font-family: "jjang";
  src: url("../font/온글잎\ 짱구.ttf");
}
* {
  font-family: "jjang";
}
div {
  overflow: hidden;
  height: auto;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
}
.nav-bar {
  height: 180vh;
  flex-direction: column;
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.nav-bar a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 20px;
}
.container {
  font-size: 35px;
  display: inline;
  width: 100%;
  margin-right: 10%;
}
header {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  border-bottom: 3px solid rgba(190, 190, 190, 0.692);
}
.main-content {
  display: inline;
  align-items: center;
}
.header {
  padding: 20px;
  margin-top: 40px;
  color: white;
  display: flex;
}
.header > div > h1 {
  font-size: 100px;
}
.intro {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.intro-a {
  margin-top: 50%;
  margin-bottom: -30%;
}
.connection {
  display: flex;
  justify-content: flex-end;
}
.connection > a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

#scroll {
  border: 0;
  background-color: black;
  margin-right: 10px;
  padding-bottom: 25px;
}
#scroll > span {
  color: white;
}

section {
  padding: 20px;
  margin: 20px 0;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h3 {
  margin-top: 0;
  color: white;
}

section div {
  margin-bottom: 20px;
}
.about {
  background-color: rgba(128, 0, 128, 0.445);
  display: block;
}

.my-img {
  width: 20%;
  padding: 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.my-intro {
  display: flex;
  background-color: blue;
}
